name: Build

on:
  push:
    branches:
      - "main"
    tags:
      - "v*.*.*"

jobs:
  build-and-push:
    name: "Build ${{ matrix.php-version }} on ${{ matrix.runner }}"
    runs-on: ${{ matrix.runner }}
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    strategy:
      fail-fast: false
      matrix:
        php-version:
          - "8.4"
          - "8.5"
        runner:
          - "ubuntu-24.04"
          - "macos-15"
          - "ubuntu-24.04-arm"
#          - "macos-15-intel"

    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v1

      - name: Install libidn2 (Ubuntu)
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install -y libidn2-dev

      - name: Install libidn2 (macOS)
        if: runner.os == 'macOS'
        run: |
          brew install libidn2

      - name: "Setup PHP"
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          tools: pecl, composer, box
          ini-values: memory_limit=-1

      - name: Install composer packages
        shell: bash
        run: composer install

      # Cache stuff
      - name: Cache composer packages
        id: composer-cache
        uses: actions/cache@v4
        with:
          path: vendor
          key: ${{ runner.os }}-php-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-php

      - id: cache-download
        uses: actions/cache@v4
        with:
          path: .cache/downloads
          key: static-php-downloads-${{ matrix.php-version }}-${{ matrix.runner }}

      - name: Build binary
        shell: bash
        run: |
          composer global req humbug/box
          PHP_VERSION=${{ matrix.php-version }} SLH_CRAFT_FLAG="${ACTIONS_STEP_DEBUG:+--debug}" composer run --timeout 1800 build

      - name: Get OS name
        id: os
        run: |
          echo "name=$(uname -s | tr '[A-Z]' '[a-z]')" >> $GITHUB_OUTPUT
          echo "arch=$(uname -m | sed 's/aarch64/arm64/' | sed 's/x86_64/amd64/')" >> $GITHUB_OUTPUT

      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v5.0.0
        with:
          name: slh-${{ steps.os.outputs.name }}-${{ steps.os.outputs.arch }}-${{ matrix.php-version }}
          path: 'dist/slh-*'
