name: Dev Container Build and Push Image

on:
  #workflow_dispatch:
  push:
    branches:
      - "main"
    tags:
      - "v*.*.*"

jobs:
  build-and-push:
    name: "Build ${{ matrix.php-version }} on ${{ matrix.runner }}"
    runs-on: ${{ matrix.runner }}
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    strategy:
      fail-fast: false
      matrix:
        php-version:
          - "8.4"
#          - "8.5"
        runner:
          - "ubuntu-24.04"
          - "macos-15"
#          - "ubuntu-24.04-arm"
#          - "macos-15-intel"
#        exclude:
#          - { runner: "ubuntu-latest", combination: "gnu-bulk" }

    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v1

#      - name: Login to GitHub Container Registry
#        uses: docker/login-action@v2
#        with:
#          registry: ghcr.io
#          username: ${{ github.actor }}
#          password: ${{ secrets.REGISTRY_TOKEN }}
      - name: "Setup PHP"
        # if: ${{ !startsWith(matrix.runner, 'ubuntu') }}
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.4
          tools: pecl, composer, box
          ini-values: memory_limit=-1

      - name: Install packages
        shell: bash
        run: composer install

      # Cache stuff
      - name: "Cache composer packages"
        id: composer-cache
        uses: actions/cache@v4
        with:
          path: vendor
          key: ${{ runner.os }}-php-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-php

      - id: cache-download
        uses: actions/cache@v4
        with:
          path: .cache/downloads
          key: static-php-downloads-${{ matrix.php-version }}-${{ matrix.runner }}

      - name: Build binary
        shell: bash
        run: |
          which box
          composer global req humbug/box
          which box
          composer run --timeout 1800 build

      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v5.0.0
        with:
          name: slh-${{ matrix.php-version }}-${{ matrix.runner }}
          path: 'dist/slh-*'

#      - name: Set up QEMU
#        uses: docker/setup-qemu-action@v2
#      - name: Set up Docker Buildx
#        uses: docker/setup-buildx-action@v2
#        with:
#          platforms: linux/amd64,linux/arm64

#      - name: Download all workflow run artifacts
#        uses: actions/download-artifact@v5

      - name: Show and move files
        run: |
          pwd
          ls -lah dist/
#          cp -Rp dist/* .github/.devcontainer/
#          ls -lah .github/.devcontainer/

#      - name: Pre-build dev container image
#        uses: devcontainers/ci@v0.2
#        env:
#          # Workaround untagged images.
#          # https://docs.docker.com/build/building/variables/#buildx_no_default_attestations
#          BUILDX_NO_DEFAULT_ATTESTATIONS: true
#        with:
#          platform: linux/amd64,linux/arm64
#          subFolder: .github
#          imageName: ghcr.io/${{ github.repository }}
#          imageTag: latest
#          cacheFrom: ghcr.io/${{ github.repository }}
#          push: always
